@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.nav-link {
    position: relative; 
    padding-bottom: 6px; 
    transition: color 0.3s;
    text-shadow:  2px 2px 5px #000;
}
.nav-link:hover {
    color: #11C770; 
}
.nav-link::after {
    content: ""; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px; 
    background-color: #FFF;
    transform: scaleX(0); 
    transition: transform 0.3s; 
}
.nav-link:hover::after {
    transform: scaleX(1);
}

.btn-login {
    color: #ffffff;
    background-color: transparent;
}

.btn-login:hover {
    color: #000000 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}



